<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" class="init">
		var sock = "";
		var socket = io.connect("<%=conf%>"); //<%=conf%> chua duong dan socket
        sock = socket;
	</script>
</head>
<body onload="loadRealTime('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',sock);getNotification('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',0,10);countNotification(sock,'<%=userid%>');"; class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include partials/nav.ejs %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Bảng điều khiển
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a href="/quanly/loaidulieu/danhsachloaidulieu">Danh sách loại dữ liệu</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Start main activity -->
      <div class="padding-top-bottom">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<span id="tieude" style="font-weight:bold;color:white;font-size:16px;"><%=title%></span>
					</div>
					<div class="panel-body">
						<form name="" action="/quanly/vung/themvung" method="post">
							<table id="example" class="table no-margin table-hover">
								<thead>
									<tr>
                    					<th>ID</th>
										<th>Tên kiểu dữ liệu</th>
										<th>Mô tả</th>
										<th>Đơn vị</th>
										<th>Thao tác</th>
									</tr>
								</thead>
								<tbody>
									<% dataty.forEach(function(items){ %>
									<tr>
                    					<td><%= items.datatype_id %></td>
										<td><%= items.datatype_name %></td>
										<td><%= items.datatype_description %></td>
										<td><%= items.datatype_unit %></td>
										<td>
											<a href="/quanly/loaidulieu/capnhatloaidulieu/<%=items.datatype_id%>" title="cập nhật">
												<span class="glyphicon glyphicon-pencil"></span>
											</a>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="footer-title main-footer">
    <div class="pull-right hidden-xs">
      <b>Phiên bản</b> 1.0
    </div>
    <strong>Copyright &copy; Bộ môn Công Nghệ Phần Mềm,<a target="_blank" href="http://cit.ctu.edu.vn/"> Khoa CNTT & TT</a>, <a target="_blank" href="http://ctu.edu.vn/">Trường ĐH Cần Thơ</a>.</strong>
  </footer>
  <% include partials/scripts.ejs %>
  <!-- Control Sidebar -->
  <% include partials/sidebar.ejs %>
</div>
<!-- ./wrapper -->
</body>
</html>
