<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var sock = "";
    $(document).ready(function(){
      var socket = io.connect("<%=conf%>");
      sock = socket;
    });
  </script>
</head>
<body onload="loadRealTime('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',sock);getNotification('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',0,10);countNotification(sock,'<%=userid%>');" class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include partials/nav.ejs %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Bảng điều khiển
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/quanly/loaidulieu/themloaidulieu">Thêm loại dữ liệu</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Start main activity -->
      <div class="padding-top-bottom"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading text-center">
                <span id="tieude" style="font-weight:bold;color:white;font-size:16px;">Thêm loại dữ liệu</span>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <form name="" action="/quanly/loaidulieu/themloaidulieu" method="post">
                  <table class="table table-bordered">
                    <tr>
                      <td class="text-right" style="font-weight:bold;">ID loại dữ liệu:</td>
                      <td><input type="text" class="form-control" placeholder="Nhập id loại dữ liệu" name="datatype_id"/></td>
                    </tr>
                    <tr>
                      <td class="text-right" style="font-weight:bold;">Tên loại dữ liệu:</td>
                      <td><input type="text" class="form-control" placeholder="Nhập tên loại dữ liệu" name="datatype_name"/></td>
                    </tr>
                    <tr>
                      <td class="text-right" style="font-weight:bold;">Mô tả:</td>
                      <td><input type="text" class="form-control" placeholder="Nhập mô tả" name="datatype_description"/></td>
                    </tr>
                    <tr>
                      <td class="text-right" style="font-weight:bold;">Đơn vị:</td>
                      <td>
                        <input type="text" class="form-control" placeholder="Nhập đơn vị" name="datatype_unit"/>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><input type="submit" class="btn btn-info" name="btnThemLoaiDuLieu" value="Thêm"/></td>
                    </tr>
                  </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="footer-title main-footer">
    <div class="pull-right hidden-xs">
      <b>Phiên bản</b> 1.0
    </div>
    <strong>Copyright &copy; Bộ môn Công Nghệ Phần Mềm,<a target="_blank" href="http://cit.ctu.edu.vn/"> Khoa CNTT & TT</a>, <a target="_blank" href="http://ctu.edu.vn/">Trường ĐH Cần Thơ</a>.</strong>
  </footer>
  <% include partials/scripts.ejs %>
  <!-- Control Sidebar -->
  <% include partials/sidebar.ejs %>
</div>
<!-- ./wrapper -->
</body>
<!-- jQuery 2.2.3 -->

</html>
