<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" class="init">
		var sock = "";
		$(document).ready(function() {
			$('#example').DataTable({
				responsive: true,
				"language": {
	       		 	"url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Vietnamese.json"
	   		 	}
			});
			var socket = io.connect("<%=conf%>");
        	sock = socket;
		} );
	</script>
</head>
<body onload="loadRealTime('<%=conf%>','<%=token%>','<%=secu%>','<%=userid%>',sock)"; class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include partials/nav.ejs %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Bảng điều khiển
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a href="/">Danh sách nhật ký</a>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Start main activity -->
    <div class="padding-top-bottom"></div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<span id="tieude" style="font-weight:bold;color:white;font-size:16px;"><%=title%></span>
					</div>
					<div class="panel-body">
						<form name="" action="/quanly/vung/themvung" method="post">
							<table id="example" class="table no-margin table-hover">
								<thead>
									<tr>
										<th>Tên ao</th>
										<th>Tên vùng</th>
										<th>Mô tả</th>
										<th>Xã</th>
										<th>Thao tác</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>
											<a href="/quanly/vung/capnhatvung/" title="cập nhật">
												<span class="glyphicon glyphicon-pencil"></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="footer-title main-footer">
    <div class="pull-right hidden-xs">
      <b>Phiên bản</b> 1.0
    </div>
    <strong>Copyright &copy; Bộ môn Công Nghệ Phần Mềm,<a target="_blank" href="http://cit.ctu.edu.vn/"> Khoa CNTT & TT</a>, <a target="_blank" href="http://ctu.edu.vn/">Trường ĐH Cần Thơ.</a>.</strong>
  </footer>
  <% include partials/scripts.ejs %>
  <!-- Control Sidebar -->
  <% include partials/sidebar.ejs %>
</div>
<!-- ./wrapper -->
</body>
</html>
